body {
    font-family: 'Trebuchet MS', sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #4CAF50; /* Green header */
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

input, select, button, .btn {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(100% - 22px);
    box-sizing: border-box;
}

button, .btn {
    background-color: #4CAF50; /* Green buttons */
    color: white;
    cursor: pointer;
}

button:hover, .btn:hover {
    background-color: #388E3C; /* Darker green on hover */
}

#records div {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.edit-btn, .delete-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #388E3C; /* Edit button in green */
}

.delete-btn {
    right: 80px;
    background-color: #E53935; /* Delete button in red for contrast */
}
